
import React from 'react';
import DataTable from '@atom/DataTable/DataTable';
import { getColumns, getDummyData } from './helper';
 
export default function {{ properCase name }}() {
  const onAction = (row: any, action: any) => { }
  const cols = getColumns(onAction)
  return (
    <div>
      <title>{{properCase name}}</title>
      <DataTable
        columns={cols}
        dataSource={getDummyData()}
      />
    </div>
  );
}
